<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohana0.test.ajax.repository.FaboriteRepository">

	<select id="getFaboriteList" parameterType="map" 
	resultType="com.ohana0.test.ajax.domain.Faborite">
		SELECT 
			`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`bookmark`
	
	</select>
	
	<insert id="insertFaborite" parameterType="map">
		INSERT INTO `bookmark`
		(
			`name`
			,`url`
		)
		VALUE
		(
			#{name}
			,#{url}
		)
	</insert>
	<select id="selectCountUrl" parameterType="String">
		SELECT count(1) FROM `bookmark` WHERE `url` = #{url}
	</select>
	<delete id="deleteFaborite" parameterType="int">
		DELETE FROM `bookmark` WHERE (`id` = #{id});
	</delete>
	
	
	
</mapper>